<p><b><c>
<style>
*{background:var(--,#D25B70);position:fixed}
p{padding:50;--:#F7F3DA;margin:142}b{padding:40;--:#F6DF96;margin:-146 2;transform:rotate(37deg)}
c{padding:30;--:#6CB3A9;margin:40-100;transform:rotate(-270deg
